In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsRegressor

In [3]:
df = pd.read_csv('data14.csv')

In [4]:
df.head()

           id  F1    F2   F3    F4  F5       F6   F7
0  4519157822   0  28.0  NaN  11.0   0  17210.0  6.6
1  4523371949   0  12.0  NaN   5.0   0  14712.0  6.6
2  4521474530   0  15.0  0.0   NaN   1  16113.0  6.4
3  4524384067   0  43.0  0.0   NaN   1  15157.0  7.0
4  4436033771   0  75.0  0.0   6.0   0  16400.0  7.0

In [6]:
df.shape

(12067, 8)

In [7]:
df.isnull().sum()

id     0
F1     0
F2    82
F3    10
F4    61
F5     0
F6     8
F7    12
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12067 entries, 0 to 12066
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12067 non-null  int64
 1   F1      12067 non-null  int64
 2   F2      11985 non-null  float64
 3   F3      12057 non-null  float64
 4   F4      12006 non-null  float64
 5   F5      12067 non-null  int64
 6   F6      12059 non-null  float64
 7   F7      12055 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 754.3 KB